Repository cloudera/hue, pull requests merged in 2020-11, with the labels that each got.

#1404 GH-1403 [parser] Live demo docs - Add gethue into docs
  docs/docs-site/.gitignore
  docs/docs-site/README.md
  docs/docs-site/package-lock.json
  docs/docs-site/package.json
  docs/docs-site/static/js/gethue/components/er-diagram.js
  docs/docs-site/static/js/gethue/parsers/calciteAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/calciteSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/druidAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/druidSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/elasticsearchAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/elasticsearchSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/flinkAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/flinkSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/genericAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/genericSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/hiveAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/hiveSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/impalaAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/impalaSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/ksqlAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/ksqlSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/phoenixAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/phoenixSyntaxParser.js
  docs/docs-site/static/js/gethue/parsers/prestoAutocompleteParser.js
  docs/docs-site/static/js/gethue/parsers/prestoSyntaxParser.js
Labels: docs, parser

#1405 GH-1403 [parser] Live docs - Added demo for all parsers in GetHue
  docs/docs-site/content/developer/components/parsers/_index.md
  docs/docs-site/content/developer/components/parsers/demo/live-parser.js
  docs/docs-site/content/developer/components/parsers/demo/styles.css
  docs/docs-site/layouts/shortcodes/rawhtml.html
Labels: docs, parser

#1406 GH-1403 [parser] Live demo docs - Load er-diagram from /js/gethue
  docs/docs-site/content/developer/components/er-diagram/_index.md
  docs/docs-site/content/developer/components/er-diagram/demo/er-diagram.js
Labels: docs, improvement

#1408 GH-1403 [parser] Fixed issue in handlinng Syntax Parser
  docs/docs-site/content/developer/components/parsers/demo/live-parser.js
  docs/docs-site/content/developer/components/parsers/demo/styles.css
Labels: docs, parser

#1409 GH-1390 [parser] Fix window is not defined bug when parser used on node
  package.json
  webpack.config.npm.js
Labels: gethue

#1412 HUE-9567 missing minute field for Oozie Schedulers in Hue
  apps/oozie/src/oozie/templates/utils.inc.mako
Labels: bug

#1438 GH-1437 [NPM] Add complete JS source into GetHue
  package.json
  webpack.config.npm.js
Labels: gethue, npm
